// Base Styles
$primarycolor:#00356B;
$ctahovercolor:rgb(0, 0, 190);
$secondarycolor: white;

@mixin flexcolumn() {
    display: flex;
    flex-direction: column;
}

@mixin button1 {
    background-color: $primarycolor;
    text-decoration: none;
    color:$secondarycolor;
    padding: 0.5em 1em;
    border-radius: 10px;
    text-align: center;
    
}

@mixin button2() {
    border: 1px solid $primarycolor;
    text-decoration: none;
    color: $primarycolor;
    background-color: $secondarycolor;
    padding: 0.5em;
    border-radius: 6px;
}





body{
    margin: 16px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

    h1, h2, h3, h4, h5, h6{
        font-family: 'Roboto', sans-serif;
    }
    h1{
        font-size: 200%;
    }
    h2{
        font-weight: 100;
        font-size: 110%;
    }
}

nav{
    @include flexcolumn();
    align-items: flex-end;

    li {
        display: inline-block;
        margin-top: 0;
        margin-right: 1rem;
        margin-left: 1rem;
        margin-bottom: 0;
        color: $primarycolor;
      } 
}


// Layout Styles
.form-containertop{
    display: flex;
    width: 100%;
}

.form-containerbottom{
    @include flexcolumn();
    width: 100%;
}

// Block Styles
.nav-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.nav__link{
    color: $primarycolor;
    text-decoration: none;
    box-sizing: border-box;
    display: none;
    
}

.nav__button {
    @include button1();

    
    &:hover{
        background-color: $ctahovercolor;
    }
}

.hero-section{
    @include flexcolumn();
    align-items: center;
    text-align: center;
}
  
.hero__video{
    margin: 5rem 0rem;
    width: 20rem;
    height: 12rem;
}

.panel{
    display: flex;
    border-top: 2px solid rgb(236, 236, 236);
    border-bottom: 2px solid rgb(236, 236, 236);
    .box1, 
    .box2{
        @include flexcolumn();
        align-items: center;
        width: 50%;
        p{
            padding: 10px;
            text-align: center;
            font-size: .75em;
        }
        img{
            width: 6rem;
            padding: 5px;
        }
    }
}

.panel2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px 0px;
    .icon-container{
        display: grid;
        text-align: center;
        align-items: end;
        .grid-row1{
            justify-self: center;
            align-self: start;
        }
        .grid-row2{
            justify-self: center;
            align-self: end;
            padding: 10px 0px;
            font-size: .75em;
            a:link{
                @include button2();
                margin: 10px 0px;  
            }
        }
    }

}

.panel3{
    @include flexcolumn();
    text-align: center;
    margin: 50px 0px;
    background-color: rgb(236, 236, 236);
    padding: 30px;
    .panel3__button{
        margin: 10px 0px;

        a:link{
            @include button1();
            width: 10rem;
            color: white;
        }
        a:visited{
            color: white;
        }
    }
}

.about-section{
    @include flexcolumn();
    text-align: center;

    p{
        margin: 1rem;
    }
}

.hero-grid{
    display: grid;
    grid-area: 2/2;
    justify-content: center;
    text-align: center;
    grid-template-columns: 50% 50%;
    margin: 30px;

    .item, .item1{
        margin: 1em;
    }

    img{
        width: 7em
    }
    
    h1{
        font-size: 80%;
    }
}

.banner{
    @include flexcolumn();
    align-items: center;

}

.flex-container__img{
    display: flex;
    width: 100%;
    height: 20rem;
    align-items: center;
    justify-content: center;

    img{
        object-fit: contain;
    }
}
  
.signup-form{
    @include flexcolumn();
    align-items: center;

  
    .signup-form__title{
        font-size: 200%;
    }

    .signup-form__subtitle{
    text-align: center;
    width: 80%;
    }
}

form{
    @include flexcolumn();
    width: 15rem;
    margin: 30px;

    input{
        border: 1px solid rgb(184, 183, 183)
    }
}
    
.form-input1,
.form-input2{
    width: 100%;
}

.form__button{
    display: flex;
    justify-content: center;
}

.input{
    margin: .25rem;
    padding: .5rem;
}

.form-input{
    input[type=submit] {
        @include button2();
        width: 10em;
        display: inline-block;
        margin: 10px;
    }
}

  

@media only screen and (min-width: 500px){
    p{
            font-size: 100%;
        }
    .body{
        margin: 24px; 

        
    }

    .nav__link{
        display: block;

        &:hover{
            border-bottom: 2px solid $primarycolor;
        }
    }
    .hero-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        .item, .item1{
            width: 8em;
            padding: 1em;
        }
        img{
            width: 8em
        }
    }

    .hero__video{
        height: 20em;
        width: 40em;
    }
    form{
        width: 25rem;
    }
}

